In [ ]:
#Lesson task 1 - Creating a CSV file

import pandas as pd

dest = {"Destinations": ["Chile", "Mexico", "Belize", "Argentina", "Spain", "France", "Germany", "USA", "Canada", "Norway", "Denmark", "Colombia", "Sri Lanka", "India", "Ghana"]}

df_dest = pd.DataFrame(dest)

print(df_dest)

dest_csv = open("dest_csv.csv","w")
df_dest.to_csv("dest_csv.csv", mode='a', index=False, header=False)
dest_csv.close(""

In [ ]:
#Lesson task 2 - Add in a column

import pandas as pd

dest = {"Destinations": ["Chile", "Mexico", "Belize", "Argentina", "Spain", "France", "Germany", "USA", "Canada", "Norway", "Denmark", "Colombia", "Sri Lanka", "India", "Ghana"],
        "Score_out_of_10": ["7", "2", "3", "8", "10", "7", "6", "9", "4", "10", "4", "7", "9", "5", "9"]}

df_dest = pd.DataFrame(dest)

print(df_dest)

dest_csv = open("dest_csv.csv","w")
df_dest.to_csv("dest_csv.csv", mode='a', index=False, header=False)
dest_csv.close()

In [ ]:
#Lesson task 3 - Add in a 2nd column

import pandas as pd

dest = {"Destinations": ["Chile", "Mexico", "Belize", "Argentina", "Spain", "France", "Germany", "USA", "Canada", "Norway", "Denmark", "Colombia", "Sri Lanka", "India", "Ghana"],
        "Score_out_of_10": ["7", "2", "3", "8", "10", "7", "6", "9", "4", "10", "4", "7", "9", "5", "9"],
        "Average_Hotel_Stars": ["5", "1", "4", "2", "5", "5", "3", "4", "4", "3", "2", "4", "1", "2", "5"]}

df_dest = pd.DataFrame(dest)

print(df_dest)

dest_csv = open("dest_csv.csv","w")
df_dest.to_csv("dest_csv.csv", mode='a', index=False, header=False)
dest_csv.close()

In [ ]:
#Lesson task 4 - Add in a 3rd column

import pandas as pd

dest = {"Destinations": ["Chile", "Mexico", "Belize", "Argentina", "Spain", "France", "Germany", "USA", "Canada", "Norway", "Denmark", "Colombia", "Sri Lanka", "India", "Ghana"],
        "Score out of 10": ["7", "2", "3", "8", "10", "7", "6", "9", "4", "10", "4", "7", "9", "5", "9"],
        "Average Hotel Stars": ["5", "1", "4", "2", "5", "5", "3", "4", "4", "3", "2", "4", "1", "2", "5"],
        "No of all inclusive": ["1000", "2510", "9141", "3009", "4678", "9077", "4642", "4562", "1324", "1283", "2312", "6972", "1642", "1543", "0998"]}

df_dest = pd.DataFrame(dest)

print(df_dest)

dest_csv = open("dest_csv.csv","w")
df_dest.to_csv("dest_csv.csv", mode='a', index=False, header=False)
dest_csv.close()

In [ ]:
#Lesson task 4 - Add in a 4th column

import pandas as pd

dest = {"Destinations": ["Chile", "Mexico", "Belize", "Argentina", "Spain", "France", "Germany", "USA", "Canada", "Norway", "Denmark", "Colombia", "Sri Lanka", "India", "Ghana"],
        "Score_out_of_10": ["7", "2", "3", "8", "10", "7", "6", "9", "4", "10", "4", "7", "9", "5", "9"],
        "Average_Hotel_Stars": ["5", "1", "4", "2", "5", "5", "3", "4", "4", "3", "2", "4", "1", "2", "5"],
        "No_of_all_inclusive": ["1000", "2510", "9141", "3009", "4678", "9077", "4642", "4562", "1324", "1283", "2312", "6972", "1642", "1543", "0998"],
        "Most_visited_city": ["Santiago", "Mexico City", "Belize City", "Buenos Aires", "Madrid", "Paris", "Berlin", "New York", "Toronto", "Oslo", "Copenhagen", "Medellin", "Colombo", "Dheli", "Accra"]}

df_dest = pd.DataFrame(dest)

print(df_dest)

dest_csv = open("dest_csv.csv","w")
df_dest.to_csv("dest_csv.csv", mode='a', index=False, header=1)
dest_csv.close()

In [ ]:
#Home task 1 - read number of columns and rows

import pandas as pd

data = pd.read_csv("dest_csv.csv")

data.shape
#data.head()

In [ ]:
#Homet task 2 - print row 3 - 8

import pandas as pd

data = pd.read_csv("dest_csv.csv")
#data.head(3,8) this would never work as you hop in this instance, instead this will always print from row 0 onwards. you cannot split the rows.
print(data.iloc[3:9])

In [ ]:
#Home task 3 - find the mean number of all-inclusive hotels across all destinations. 

import pandas as pd

data = pd.read_csv("dest_csv.csv")
menu_data = data.mean()
print(menu_data)

In [ ]:
#Home task 4 - Find the lowest scoring destination.

import pandas as pd

data = pd.read_csv("dest_csv.csv")
min_data = data.min()
print(min_data)

In [ ]:
#Task 5 -  Find the highest scoring destination.

import pandas as pd

data = pd.read_csv("dest_csv.csv")
max_data = data.max()
print(max_data)

In [ ]:
#Task 6 - Find all the destinations where there are more than 9 all-inclusive hotels. 

import pandas as pd

data = pd.read_csv("dest_csv.csv")
#data.loc[0:,"No_of_all_inclusive"] #this loc combination gives the single column for all rows.
#data.loc[3:,"No of all inclusive"] #this loc combination givs the single columbn for all rows from index 3
#data.loc[3,:] #Ths loc combination gives all columnss for all rows from index 3
#data.loc[3,:"No of all inclusive"] #this loc combination gives the single column for the single row index 3
#data.loc[0:,"Destinations":"No of all inclusive"] #this loc combination will give you the column range, with all rows
data.loc[data.No_of_all_inclusive > 9] #this is showing me the number of lines against the all inclusive column above 9

In [ ]:
#Task 7 - Filter the data by score above 8.  

import pandas as pd

data.loc[data.Score_out_of_10 > 8]

In [ ]:
#Task 8 - Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)

import pandas as pd

data.loc[data.Score_out_of_10 < 2]